.board_container{
    display:grid;
    grid-template-columns: repeat(3,150px);
    grid-template-rows: repeat(3, 150px);
}

.individual_square {

    height:100px;
    width:100px;
    margin:10px;
    background-color: red;

}