
body{
    font-family: Arial, Helvetica, sans-serif;
}



.board_container{
    display:grid;
    grid-template-columns: repeat(3,120px);
    grid-template-rows: repeat(3, 120px);
}

.individual_square {

    height:100px;
    width:100px;
    background-color: white;
    font-size:7rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.win_screen {
    height:1300px;
    width:2000px;
    /* background-color: red;  */
    /* position:fixed; */
    /* transform: translateY(-1%); */
    /* margin-top:-600px; */
}

.body_container{
    display:flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    /* margin-top:200px; */
    gap:50px;
    background-color: black;
    height:100vh;
    width:100vw;
}

.win_screen.show{
    transform: translateY(-25%);
    /* height:100vh;
    width:100vw; */
    background-color: red;
    /* margin-top:-600px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:5em;
    font-weight: 800;

}

.get_names{
    opacity:0%;
    color:white;
    /* background-color: red; */
    /* margin-top:300px; */
    position: absolute;
}

.get_names.show{
    opacity:100%;
}

.restart{
    opacity:0%;
    border:none;
    background-color: white;
    height:30px;
    width:100px;
    border-radius: 10px;
}

.restart.show{
    opacity:100%;

}
